{% extends 'main.html' %}
{% block title %}Password Change Page{% endblock %}

{% block content %}
<div class="auth">
    <div class="card">
        <div class="auth__header text-center">

            <h3>Change Password</h3>
            <p>Enter your old password and your new password.</p>
        </div>

        <form action="" class="form auth__form" method="POST">
            {% csrf_token %}

            <div class="form__field" style="color: var(--color-sub);">
                {{form.as_p}}

            </div>
            <div class="auth_msg">

                {% if messages %}
                <ul style="color: var(--color-sub);">
                    {% for message in messages %}
                    <li>{{message}}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
            <div class="auth__actions">
                <input class="btn btn--sub btn--lg" type="submit" value="Save" />

            </div>
        </form>


    </div>
</div>


{% endblock %}