{% extends 'main.html' %}
{% block title %} Password Reset Page {% endblock %}

{% block content %}
<div class="auth">
    <div class="card">
        <div class="auth__header text-center">

            <h3>Reset Password</h3>
            <p>Enter and confirm new password</p>
        </div>

        <form action="" class="form auth__form" method="POST">
            {% csrf_token %}
            <!-- Input:Email -->
            <div class="form__field" style="color: var(--color-sub);">
                {{form.as_p}}

            </div>

            <div class="auth__actions">
                <input class="btn btn--sub btn--lg" type="submit" value="Reset Password" />
            </div>
        </form>

    </div>
</div>


{% endblock %}