{% extends 'main.html' %}
{% block title %}Password Reset Page {% endblock %}

{% block content %}


<div class="auth">
  <div class="card">
    <div class="auth__header text-center">

      <h3>Forget Password?</h3>
      <p>Reset password by entering the email address</p>
    </div>

    <form action="" class="form auth__form" method="POST">
      {% csrf_token %}
      <!-- Input:Email -->
      <div class="form__field" style="color: var(--color-sub);">
        {{form.as_p}}

      </div>
      <div class="auth_msg">

        {% if messages %}
        <ul style="color: var(--color-sub);">
          {% for message in messages %}
          <li>{{message}}</li>
          {% endfor %}
        </ul>
        {% endif %}
      </div>
      <div class="auth__actions">
        <input class="btn btn--sub btn--lg" type="submit" value="Send Instructions" />
        <a href="{% url 'login' %}">Login</a>
      </div>
    </form>

    <div class="auth__alternative">
      <p>Don’t have an Account?</p>
      <a href="{% url 'register' %}">Sign Up</a>
    </div>
  </div>
</div>

{% endblock %}